html { scroll-behavior: smooth; }
.logo { height: 80px; }
.logo-footer { height: 40px; }
a, a:hover, #navbarResponsive a:hover, #navbarResponsive .nav-item.active a { color: #ED6103;}
#navbarResponsive a { color: #3E3E3E; }
a:hover { text-decoration: none; }
.btn:hover{
  color: white;
  background-color: #F6A670;
}
#navbarFooter a {color: white;}
#navbarFooter a.nav-link:hover {
  border-bottom: 1px solid #fff;
}
.bg-lifull{background-color: #ED6103;}
.bg-white{background-color: #FFFFFF;}
header, footer{box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2); z-index: 1;}

.subpage-header{background-size: cover; background-position: center center;}
.lftv-about{background-image: url('../images/lftv_about.jpg');}
.lftv-recruit-banner{background-image: url('../images/lftv_recruit.jpg');}
.lftv-news-banner{background-image: url('../images/lftv_front_door.jpg');}
.lftv-recruit-detail{background-image: url('../images/lftv_recruit_detail.jpg');}

.text-lifull-color { color: #ED6103; }
.text-white-color { color: #FFFFFF; }
.text-dark-gray-color { color: #3E3E3E; }

.container-block{
  background-color: #f7fafa;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
}

.services-icon{width: 250px; background-color: #ED6103;}
.benifit-icon{width: 80px; height: 80px; border: 2px solid #ED6103;}
.fb-thumbnail{width: 100%; height: 200px; overflow: hidden;}
.fb-thumbnail img{display: block; height: 100%; margin: 0 auto;}

.font-08em{font-size: 0.8em;}
.font-1em{font-size: 1em;}

.bg_position_center_bottom { background-position: center bottom; }

/* Focus Ring
------------------------------------------------------------------- */
.h {
  display: inline-block;
  margin: 1em;
  padding: 1.5em 1.5em;
  font-size: 3.5em;
  font-weight: 700;
}
.h_small {
  display: inline-block;
  margin: 0;
  padding: 0.75em 1em;
  font-size: 3.5em;
}
.h_small_about {
  padding: 0.75em 0.6em;
  font-weight: 600;
  font-size: 2.8em;
}
.focusRing {
  position: relative;
  text-align: center;
}
.focusRing__ring::before,
.focusRing__ring::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  background: url(../images/l.svg) no-repeat 0 0;
  background-size: 1em;
  opacity: 0;
}
.focusRing__ring::before { top: 0; right: 0; transform: rotate(90deg); animation: spin-in-tr 0.1s ease-out 0.2s forwards; }
.focusRing__ring::after  { right: 0; bottom: 0; transform: rotate(0deg); animation: spin-in-br 0.1s ease-out 0.2s forwards; }
.focusRing__ring .focusRing__ring::before { top: 0; left: 0; transform: rotate(0deg); animation: spin-in-tl 0.1s ease-out 0.2s forwards; }
.focusRing__ring .focusRing__ring::after  { left: 0; bottom: 0; transform: rotate(-90deg); animation: spin-in-bl 0.1s ease-out 0.2s forwards; }

@keyframes spin-in-tr {
  from { transform: rotate(90deg); opacity: 0; }
  to { transform: rotate(180deg); opacity: 1; }
}
@keyframes spin-in-br {
  from { transform: rotate(0deg); opacity: 0; }
  to { transform: rotate(-90deg); opacity: 1; }
}
@keyframes spin-in-tl {
  from { transform: rotate(0deg); opacity: 0; }
  to { transform: rotate(90deg); opacity: 1; }
}
@keyframes spin-in-bl {
  from { transform: rotate(-90deg); opacity: 0; }
  to { transform: rotate(0deg); opacity: 1; }
}
.text-circle {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 30px;
  text-align: center;
  margin:0 auto;
  display:block;
  background-color: #ED6103;
}
.top-header{
  background-image: url("../images/lftv_working_place_2.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 600px;
}
.div_over{
  position:absolute;
}
.div_over_reset{
  position:relative;
  display:block;
}
.icon_footer{
  width: 70px;
  height: 70px;
}
.lifull-border-bottom{
  border-bottom: 1px solid #ED6103;
}
hr.section_border_bottom {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #ED6103, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #ED6103, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #ED6103, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #ED6103, #f0f0f0);
}
[class*=" imghvr-"], [class^=imghvr-] {
  background-color: transparent;
}
[class*=" imghvr-shutter-in-"]:after,
[class*=" imghvr-shutter-in-"]:before,
[class^=imghvr-shutter-in-]:after, [class^=imghvr-shutter-in-]:before,
[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
  background-color: #ED6103;
}
[class*=" imghvr-shutter-in-"]:after,
[class*=" imghvr-shutter-in-"]:before,
[class^=imghvr-shutter-in-]:after, [class^=imghvr-shutter-in-]:before {
  opacity: 0.5;
}

/**********
* Override
************/
.navbar-nav {
  font-weight: 600;
}
.page-link, .page-link:hover {
  color: #ED6103;
}
.page-item.active .page-link {
  background-color: #ED6103;
  border-color: #ED6103;
}
.carousel-indicators {
  position: inherit;
}
.carousel-indicators div {
  opacity: 0.5;
}
.carousel-indicators div img {
  max-height: 55px;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ED6103' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ED6103' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-item img {
  width: auto;
  height: 450px;
  max-height: 450px;
}
.jumbotron {
  background-color: transparent;
}
.card{
  border: none;
}
.card-img-top {
  width: 60%;
}
.guidelines .table tr:first-child th , .guidelines .table tr:first-child td{
  border-top: 0;
  border-bottom: 0;
}
.guidelines .table th, .guidelines .table td{
  vertical-align: middle;
}
.guidelines .table tr th {
  width:35%;
}
/**********
* Top page
************/
.gallery {
  background-color: #F5F6F7;
}
.section_title{
  font-weight: 600;
}
.about{
  background-image: url(../images/dynamic_images/lftv_office_white_small.jpg);
  background-size: cover;
  background-position: center center;
}
.news{
  background-image: url(../images/dynamic_images/lifull_office_with_bg.jpg);
  background-size: cover;
  background-position: center center;
}
.recruit .section-title-div {
  border-top: 2px solid #ED6103;
  border-bottom: 2px solid #ED6103;
  width: 30%;
}
.recruit .article-thumbnail {
  width: 250px;
  min-height: 250px;
  background-size: cover;
  background-position: center center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.recruit .article-thumbnail h4 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 2em;
}
footer {
  font-size: 0.9rem;
}
footer a:hover {
  color: #fff;
}
footer .language_menu {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

/****************
* Recruit Detail
*****************/
#recruitContent h3{
  color: #ED6103;
  font-weight: 600;
}
#recruitContent p {
  padding-left: 2em;
  text-align: justify;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + button {
  /* font-size: 1.7em;
  font-weight: 700;
  display: inline-block; */
  cursor: pointer;
  /* -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem; */
}
.inputfile:focus + button,
.inputfile + button:hover {
  background-color: #F6A670;
}

/**********
* Map
************/
.map_container {
  position: relative;
  width: 100%;
}
.map_info {
  z-index: 20;
  position: absolute;
  right: 3em;
  top: 2em;
  width: 360px;
}

/**************
* Return to top
***************/
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #bf4300;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
  opacity: 0.75;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  opacity: 1;
}

/***********
* @Media
************/
@media screen and (max-width: 576px) {
  .navbar {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
  .navbar-nav {
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #F5F6F7;
  }
  .navbar-nav .nav-link {
    padding-left: 1rem;
  }
  .carousel-item img {
    width: 100%;
    height: 280px;
    max-height: 280px;
  }
  .recruit .section-title-div {
    width: 100%;
  }
  #recruitContent p {
    padding-left: 0;
  }
  .h {
    font-size: 2em;
  }
  .map_info {
    position: initial;
    width: 100%;
  }
  .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  footer .language_menu {
    margin-top: 2rem;
  }
  footer .footer_logo {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .recruit .article-thumbnail {
    width: 200px;
    min-height: 200px;
  }
  .map_info {
    right: 0.6em;
    top: 2.5em;
  }
}

@media (max-width: 1120px) {
  .recruit .article-thumbnail {
    width: 200px;
    min-height: 200px;
  }
  .map_info {
    right: 0.6em;
    top: 2.5em;
  }
}
